<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
   <form action="/welcome" methods=['POST', 'GET']>
      
      <input type="text" name="username" maxlength="20">
      <label for='username'>Username:</label>
      <input type="password" name="password" maxlength="20" minlength="3">
      <label for='password'>Password:</label>
      <input type="password" name="verify">
      <label for='verify'>Verify Password:</label>
      <input type="text" name="email">
      <label for='email'>Email(optional):</label>
      <input type="submit" name="submission">
   </form>
   </body>
</html>